.filter-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-background);
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: var(--color-primary);
    }
  }
}
