.header {
  background-color: var(--color-primary);
  color: var(--color-text);
  box-shadow: var(--box-shadow-sm);
  padding: var(--spacing-md) var(--spacing-xl);

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    transition: color var(--transition-duration-normal)
      var(--transition-timing-function);

    &:hover {
      color: var(--color-text-dark);
    }
  }

  &__cart-container {
    min-width: 86px;
  }
}
